{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/app.scss' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,500;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,400;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap" rel="stylesheet">
{% endblock styles %}

{% block scripts %}
{% script 'app' %}
{% endblock scripts %}

{% block content %}
<article>
  <header class="container">
    {% include '_layouts/emoji.html' %}
    <h1 class="headline">{{ meta.headline }}</h1>
    {% include '_layouts/emoji.html' %}
    <div class="subhead">
      <h2>{{ meta.subheadline }}</h2>
    </div>    
  </header>

  <div class="container">
    {% for p in copy.body %}
        <p class="prose">{{ p.value }}</p>
    {% endfor %}
    <div id="bump"></div>
  </div>
</article>
{% endblock content %}