{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/app.scss' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,500;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,400;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap" rel="stylesheet">
{% endblock styles %}

{% block scripts %}
{% script 'app' %}
<script src="https://datawrapper.dwcdn.net/lib/datawrapper.js"></script>
{% endblock scripts %}

{% block content %}
<article class="main">
  <header>
    <div class="pitch">
      <div class="inner"></div>
      <div class="penalty-spot">
        {% include '_layouts/emoji.html' %}
      </div>
      <div class="semi-circle"></div>
    </div>
    <div class="headline-container">
      <h1 class="headline">{{ meta.headline|widont }}</h1>
      
      <div class="subhead">
        <h2>{{ meta.subheadline }}</h2>
      </div>
    </div>
  </header>

  <div class="outfield">
    <div class="center">
      <div class="line"></div>
      <div class="circle"></div>
    </div>

    <div class="container chart-container">
      <div class="chart">
        <select id="season-select">
          {% for season, chartsInSeason in charts %}
            <option value="{{ season }}" {% if loop.last %}selected{% endif %}>
              Season {{ season }}
            </option>
          {% endfor %}
        </select>
        <div id="bump-chart" class="datawrapper-embed" data-chart-id="b7v86"></div>
      </div>
      <div class="spacer"></div>
      <div class="chart">
        <div id="h2h-chart" class="datawrapper-embed" data-chart-id="4Qpyc"></div>
      </div>
    </div>
  </div>

  <footer>
    <div class="pitch">
      <div class="semi-circle"></div>
      <div class="penalty-spot"></div>
      <div class="inner"></div>
    </div>
  </footer>
</article>
{% endblock content %}

{% block extra_scripts %}

{{charts|jsonScript('chartsMetadata')}}

{% endblock %}