{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/app.scss' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,500;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,400;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap" rel="stylesheet">
{% endblock styles %}

{% block scripts %}
{% script 'app' %}
{% endblock scripts %}

{% block content %}
<article>

  <header>
    <div class="pitch">
      <div class="inner"></div>
      <div class="penalty-spot">
        {% include '_layouts/emoji.html' %}
      </div>
      <div class="semi-circle"></div>
    </div>
    <div class="headline-container">
      <h1 class="headline">{{ meta.headline|widont }}</h1>
      
      <div class="subhead">
        <h2>{{ meta.subheadline }}</h2>
      </div>
    </div>
  </header>

  <div class="outfield">
    <div class="center">
      <div class="line"></div>
      <div class="circle"></div>
    </div>

    <div class="container chart-container">
      {% include '_layouts/chart.html' %}
    </div>
  </div>

  <footer>
    <div class="pitch">
      <div class="semi-circle"></div>
      <div class="penalty-spot"></div>
      <div class="inner"></div>
    </div>
  </footer>
</article>
{% endblock content %}