<div class="chart">
  <div id="observablehq-viewof-selectedGameweek-8c3dbe1c"></div>
  <div id="observablehq-viewof-minGameweek-8c3dbe1c"></div>
  <div id="observablehq-viewof-value-8c3dbe1c"></div>
  <div id="observablehq-leaguestandings-8c3dbe1c"></div>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@observablehq/inspector@5/dist/inspector.css">
  <script type="module">
  import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@5/dist/runtime.js";
  import define from "https://api.observablehq.com/d/1a00e6c041e134af.js?v=4";
  new Runtime().module(define, name => {
    if (name === "viewof selectedGameweek") return new Inspector(document.querySelector("#observablehq-viewof-selectedGameweek-8c3dbe1c"));
    if (name === "viewof minGameweek") return new Inspector(document.querySelector("#observablehq-viewof-minGameweek-8c3dbe1c"));
    if (name === "viewof value") return new Inspector(document.querySelector("#observablehq-viewof-value-8c3dbe1c"));
    if (name === "leaguestandings") return new Inspector(document.querySelector("#observablehq-leaguestandings-8c3dbe1c"));
    return ["latest"].includes(name);
  });
  </script>      
</div>